.dart_tool/
.flutter-plugins-dependencies
.firebase/
.firebaserc
build/
coverage/
node_modules/
*.log

# Firebase / local secrets
.env
firebase-debug.log
firestore-debug.log
ui-debug.log

# IDE
.idea/
.vscode/
.DS_Store
